/* https://coolors.co/080705-40434e-3ab795-ff8811-fffffa */
:root{
    --primary-col: #080705;
    --secondary-col: #40434E;
    --third-col: #3AB795;
    --fourth-col: #FF8811;
    --fifth-col: #FFFFFA;
}