*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content, html{
    width: 100%;
    height: 100%;
    display: flex;
}
.sidenav{
    height: 100%;
    width: 25%;
    padding: 2%;
    background-color: var(--third-col);
}

.tab-el{
    padding: 2%;
    background-color: transparent;
    border: none;
}
.tab-el:hover{
    cursor: pointer;
}

.frame{
    width: 35rem;
    height: 100%;
}